<!-- <h1>Hello Templtate Engine</h1> -->

<form action="/" method="POST" enctype="multipart/form-data">
  <h1>画像をアップロード</h1>
  <input type="file" name="imageFile" accept="input">
  <input type="submit">
</form>

<div>
{{#each rows}}
  <p>↓に保存された画像が出力されます。</p>
  <img src={{ this.imageName }} alt="">
  <p>{{ this.imageName }}</p>
{{/each}}
</div>
